{% extends 'NetrunnerdbBuilderBundle::layout.html.twig' %}
{% block head %}
<script src="{{ asset('/web/bundles/netrunnerdbbuilder/js/nrdb.card_modal.js') }}"></script>
<script src="{{ asset('/web/bundles/netrunnerdbbuilder/js/nrdb.diff.js') }}"></script>
<script src="{{ asset('/web/bundles/netrunnerdbbuilder/js/decks.js') }}"></script>
<script type="text/javascript">
var Identity = null,
	LastClickedDeck = null,
	SelectedDeck = null,
	Decks = {{ decks|json_encode|raw }},
	DeckDB = TAFFY(Decks),
	Url_FactionImage = '{{  asset('/web/bundles/netrunnerdbbuilder/images/factions/16px/xxx.png') }}',
	DisplaySort = 'type';
	
</script>
{% endblock %}

{% block body %}

{% if decks|length %}

<div class="container decks">

{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>{{ flashMessage }}</div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="alert alert-success"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>{{ flashMessage }}</div>
{% endfor %}

<div class="row">

<!-- Right-side column -->
<div class="col-md-5 col-md-push-7">

<div class="row" style="margin-bottom:10px">
<div class="col-md-12">
	<a href="{{ path('deck_buildform', {side_text:'corp'}) }}" class="btn btn-default btn-sm"{% if cannotcreate %} disabled="disabled"{% endif %}><span class="glyphicon glyphicon-plus color-corp"></span> New Corp Deck</a>
	<a href="{{ path('deck_buildform', {side_text:'runner'}) }}" class="btn btn-default btn-sm"{% if cannotcreate %} disabled="disabled"{% endif %}><span class="glyphicon glyphicon-plus color-runner"></span> New Runner Deck</a>
	<div class="btn-group">
		<button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown"{% if cannotcreate %} disabled="disabled"{% endif %}>
			<span class="glyphicon glyphicon-import"></span> Import Deck <span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
			<li><a href="{{ path('deck_import') }}" id="btn-import-paste">Copy/paste</a></li>
			<li><a href="#" onclick="$('#fileModal').modal('show')" id="btn-import-file">File</a></li>
			<li><a href="#" onclick="$('#meteorModal').modal('show')" id="btn-import-meteor">Meteor Decks</a></li>
		</ul>
	</div>
</div>
</div>

<div class="row" style="margin-bottom:10px">
<div class="col-md-12">
	<div class="btn-group" id="btn-group-selection">
		<button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown">
			<span class="glyphicon glyphicon-briefcase"></span> With Selection <span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
		    <li class="dropdown-header"><span class="glyphicon glyphicon-transfer"></span> Compare</li>
		    <li><a href="#" id="btn-compare">Compare two or more decks</a></li>
		    <li><a href="#" id="btn-compare-collection">Compare one deck vs the others</a></li>
		    <li class="dropdown-header"><span class="glyphicon glyphicon-tag"></span> Tags</li>
		    <li><a href="#" id="btn-tag-add">Add one or more tags</a></li>
			<li><a href="#" id="btn-tag-remove-one">Remove one or more tags</a></li>
			<li><a href="#" id="btn-tag-remove-all">Clear all tags</a></li>
			<li class="dropdown-header"><span class="glyphicon glyphicon-trash"></span> Delete</li>
			<li><a href="#" id="btn-delete-selected"><span style="color:red" class="glyphicon glyphicon-warning-sign"></span> Delete all decks selected</a></li>
		</ul>
	</div>
	<div class="btn-group" id="btn-group-sort">
		<button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown">
			<span class="glyphicon glyphicon-sort"></span> Sort List <span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
			<li><a href="#" id="btn-sort-update">By date of last update</a></li>
			<li><a href="#" id="btn-sort-creation">By date of creation</a></li>
			<li><a href="#" id="btn-sort-faction">By faction</a></li>
			<li><a href="#" id="btn-sort-identity">By identity</a></li>
			<li><a href="#" id="btn-sort-lastpack">By last datapack</a></li>
			<li><a href="#" id="btn-sort-name">By deck name</a></li>
		</ul>
	</div>
</div>
</div>
 
<div class="row" style="margin-bottom:10px">
<div class="col-md-12">
    <a role="button" class="btn btn-default btn-sm" href="{{ path('decks_download_all') }}">Download all decks</a>
    <button role="button" class="btn btn-default btn-sm" id="decks_upload_all">Upload all decks</button>
</div>
</div>

<div class="row" style="margin-bottom:10px">
<div class="col-md-12" id="tag_toggles" title="Click to switch to this tag. Shift-click to toggle this tag.">
</div>
</div>

</div>
<!-- / Right-side column -->

<!-- Left-side column -->
<div class="col-md-7 col-md-pull-5">

<h1>My private decks <small style="font-size:16px"{% if cannotcreate %} class="text-danger"{% endif %}>({{ nbdecks }}/{{ nbmax }} slots)</small></h1>

<div class="row">
<div class="col-md-12">
<div class="list-group" id="decks" data-sort-type="dateupdate" data-sort-order="1">
{% for deck in decks %}
<a href="#" class="list-group-item deck-list-group-item" id="deck_{{ deck.id }}" data-id="{{ deck.id }}" data-problem="{{ deck.problem }}" data-faction="{{ deck.faction_code }}">
    <div class="deck-list-identity-image hidden-xs" title="{{ deck.identity_title }}" style="background-image:url({{ asset('/web/bundles/netrunnerdbcards/images/cards/en/'~deck.identity_code~'.png') }})"></div>
    <h4 class="decklist-name">{{ deck.name }}{% if deck.message %} <span class="glyphicon glyphicon-exclamation-sign text-danger" title="{{ deck.message }}"></span>{% endif %}</h4>
    <div>
        {% if deck.identity_title %}{{ deck.identity_title }}{% else %}No Identity{% endif %}
    </div><div class="deck-list-tags">
        {% for tag in deck.tags %}<span class="label label-default tag-{{ tag }}">{{ tag }}</span>{% endfor %}
    </div>
</a>
{% endfor %}
</div>

<p><small><kbd>Shift</kbd> to select multiple decks. <kbd>Enter</kbd> to open the last selected deck. <kbd>Esc</kbd> to close it.</small></p>

</div>
</div>

</div>
<!-- / Left-side column -->

</div>
</div><!-- /.container -->

<div id="deck" style="display:none;margin-top:10px">
	
	<!-- Identity and Stats -->
	<div id="influence"></div>
	<div id="agendapoints"></div>
	<div id="cardcount"></div>
	<div id="latestpack"></div>
	<!-- Identity and Stats -->
	
	<!-- Deck Content -->
	<div class="row" id="deck-content" style="margin-bottom:10px">
	</div><!-- /#deck-content -->
	<!-- Deck Content -->
	
	<div id="btn-group-deck">
	<div style="margin-bottom:10px">
		<a role="button" id="btn-view" class="btn btn-info btn-sm" href="#"><span class="glyphicon glyphicon-fullscreen"></span> View</a>
		<a role="button" id="btn-edit" class="btn btn-primary btn-sm" href="#"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
		<button type="button" id="btn-publish" disabled="disabled" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-share"></span> Publish</button>
		<button type="button" id="btn-duplicate" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-plus"></span> Duplicate</button>
		<button type="button" id="btn-delete" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span> Delete</button>
	</div>
	<div style="margin-bottom:10px">
		<button type="button" class="btn btn-default btn-xs" id="btn-download-text">Text file</button>
		<button type="button" class="btn btn-default btn-xs" id="btn-download-octgn">Octgn file</button>
		<button type="button" class="btn btn-default btn-xs" id="btn-export-bbcode">bbCode</button>
		<button type="button" class="btn btn-default btn-xs" id="btn-export-markdown">Markdown (Reddit)</button>
		<button type="button" class="btn btn-default btn-xs" id="btn-export-plaintext">plain text</button>
		<button type="button" class="btn btn-default btn-xs" id="btn-export-sorted-plaintext">sorted plain text</button>
	</div>
	</div>
	<div id="datecreation"></div>
	<div id="dateupdate"></div>
</div><!-- /#deck -->

{% else %}

<div class="jumbotron" id="no-deck-available">
  <div class="container">
    <h1>What, no deck?</h1>
    <p>Decks are awesome. You can <span class="fake-inline-button text-primary"><span class="glyphicon glyphicon-pencil"></span> Edit</span> them until you're satisfied,
    	then <span class="fake-inline-button text-primary"><span class="glyphicon glyphicon-share"></span> Publish</span> them for others to discuss.
    	And if you want to keep to yourself, you can still <span class="fake-inline-button text-primary"><span class="glyphicon glyphicon-download"></span> Download</span> them,
    	<span class="fake-inline-button text-primary"><span class="glyphicon glyphicon-export"></span> Export</span> them
    	or even <span class="fake-inline-button text-primary"><span class="glyphicon glyphicon-envelope"></span> Email</span> them.</p>
    <p>So what are you waiting for? To create your first deck, you can either <span class="fake-inline-button text-primary"><span class="glyphicon glyphicon-plus"></span> Build</span> one from scratch using the Deckbuilder,
    	<span class="fake-inline-button text-primary"><span class="glyphicon glyphicon-import"></span> Import</span> one from the web,
    	or <span class="fake-inline-button text-primary"><span class="glyphicon glyphicon-upload"></span> Upload</span> a deck file in Octgn or simple text format.</p>
  </div>
</div>
<div style="text-align:center">
		<a href="{{ path('deck_buildform', {side_text:'corp'}) }}" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-plus color-corp"></span> Build Corp</a>
		<a href="{{ path('deck_buildform', {side_text:'runner'}) }}" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-plus color-runner"></span> Build Runner</a>
		<a href="{{ path('deck_import') }}" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-import"></span> Import</a>
		<button type="button" class="btn btn-default btn-lg" onclick="$('#fileModal').modal('show')"><span class="glyphicon glyphicon-upload"></span> Upload</button>
		<button type="button" class="btn btn-default btn-lg" onclick="$('#archiveModal').modal('show')"><span class="glyphicon glyphicon-upload"></span> Upload archive</a>
</div>

{% endif %}

<!-- Modal -->
<div class="modal fade" id="fileModal" tabindex="-1" role="dialog" aria-labelledby="fileModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 class="modal-title" id="fileModalLabel">Upload deck file</h3>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<form action="{{ path('deck_fileimport') }}" method="POST" enctype="multipart/form-data">
							<div class="form-group">
								<label for="upfile">File</label>
								<input class="form-control" type="file" id="upfile" name="upfile">
							</div>
							<div class="form-group">
								<label for="type">File type</label>
								<select class="form-control" id="type" name="type"><option value="auto">auto</option><option value="octgn">OCTGN</option><option value="text">Text</option></select>
							</div>
							<div class="pull-right">
								<button type="submit" class="btn btn-success">Upload</button>
								<button type="button" class="btn btn-default" onclick="$('#fileModal').modal('hide')">Cancel</button>
							</div>
						</form>
					</div><!-- /#modal-info -->
				</div><!-- /.row -->
			</div><!-- /.modal-body -->
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal -->

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 class="modal-title" id="deleteModalLabel">Delete deck</h3>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<form action="{{ path('deck_delete') }}" method="POST" enctype="application/x-www-form-urlencoded" id="delete-deck-form">
							<input type="hidden" name="deck_id" id="delete-deck-id" value="">
							<p>
							Are you sure that you want to delete the deck <b id="delete-deck-name"></b>?
							</p>
							<div class="pull-right">
								<button type="submit" class="btn btn-danger">Yes, delete</button>
								<button type="button" class="btn btn-default" onclick="$('#deleteModal').modal('hide')">Cancel</button>
							</div>
						</form>
					</div><!-- /#modal-info -->
				</div><!-- /.row -->
			</div><!-- /.modal-body -->
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal -->

<!-- Modal -->
<div class="modal fade" id="deleteListModal" tabindex="-1" role="dialog" aria-labelledby="deleteListModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 class="modal-title" id="deleteListModalLabel">Delete decks</h3>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<form action="{{ path('deck_delete_list') }}" method="POST" enctype="application/x-www-form-urlencoded" id="delete-deck-list-form">
							<input type="hidden" name="ids" id="delete-deck-list-id" value="">
							<p>
							Are you sure that you want to delete all the decks selected?
							</p>
							<div class="pull-right">
								<button type="submit" class="btn btn-danger">Yes, delete</button>
								<button type="button" class="btn btn-default" onclick="$('#deleteListModal').modal('hide')">Cancel</button>
							</div>
						</form>
					</div><!-- /#modal-info -->
				</div><!-- /.row -->
			</div><!-- /.modal-body -->
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal -->

<!-- Modal -->
<div class="modal fade" id="publishModal" tabindex="-1" role="dialog" aria-labelledby="publishModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 class="modal-title" id="publishModalLabel">Publish decklist</h3>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<form action="{{ path('decklist_new') }}" method="POST" enctype="application/x-www-form-urlencoded" id="publish-deck-form">
							<input type="hidden" name="deck_id" id="publish-deck-id" value="">
							<div class="form-group">
								<label for="publish-deck-name">Name</label>
								<input type="text" class="form-control decklist-name" name="name" id="publish-deck-name" maxlength="60" placeholder="Enter a name for this decklist">
							</div>
							<div class="form-group">
								<label for="publish-deck-description">Description</label>
								<textarea class="form-control" name="description" id="publish-deck-description" rows="5" placeholder="Enter a brief explanation of the deck strategy and your significant choices"></textarea>
							</div>
							<div class="pull-right">
								<button type="submit" id="btn-publish-submit" class="btn btn-success">Checking...</button>
								<button type="button" class="btn btn-default" onclick="$('#publishModal').modal('hide')">Cancel</button>
							</div>
						</form>
					</div><!-- /#modal-info -->
				</div><!-- /.row -->
			</div><!-- /.modal-body -->
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal -->

<!-- Modal -->
<div class="modal fade" id="exportModal" tabindex="-1" role="dialog" aria-labelledby="exportModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title" id="exportModalLabel">Export deck</h3>
            </div>
		    <div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<textarea class="form-control" id="export-deck" rows="20"></textarea>
						</div>
					</div><!-- /#modal-info -->
				</div><!-- /.row -->
			</div><!-- /.modal-body -->
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal -->

<!-- Modal -->
<div class="modal" id="oddsModal" tabindex="-1" role="dialog" aria-labelledby="oddsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title" id="oddsModalLabel">Odds Calculator</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
						<form class="form-horizontal" role="form">
						    <div class="form-group">
						        <label for="odds-calculator-N" class="col-xs-7 control-label">Number of cards in deck</label>
						        <div class="col-xs-2">
						            <input type="number" class="form-control" id="odds-calculator-N" value="0">
								</div>
							</div>
							<div class="form-group">
								<label for="odds-calculator-K" class="col-xs-7 control-label">Number of <em>desired</em> cards in deck</label>
								<div class="col-xs-2">
									<input type="number" class="form-control" id="odds-calculator-K" value="0">
								</div>
							</div>
							<div class="form-group">
								<label for="odds-calculator-n" class="col-xs-7 control-label">Number of cards drawn</label>
								<div class="col-xs-2">
									<input type="number" class="form-control" id="odds-calculator-n" value="0">
								</div>
							</div>
							<div class="form-group">
								<label for="odds-calculator-k" class="col-xs-7 control-label">Number of <em>desired</em> cards in draw (at least)</label>
								<div class="col-xs-2">
									<input type="number" class="form-control" id="odds-calculator-k" value="0">
								</div>
							</div>
							<div class="form-group">
								<label class="col-xs-7 control-label">Probability of such an outcome</label>
								<div class="col-xs-2">
									 <p class="form-control-static"><span id="odds-calculator-p"></span>%</p>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Modal -->

<!-- Modal -->
<div class="modal fade" id="meteorModal" tabindex="-1" role="dialog" aria-labelledby="meteorModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 class="modal-title" id="meteorModalLabel">Import from Meteor Decks</h3>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<form action="{{ path('deck_meteorimport') }}" method="POST" enctype="application/x-www-form-urlencoded">
							<div class="form-group">
								<label for="urlmeteor">URL of the page "Your decks" on Meteor Decks</label>
								<input class="form-control" type="text" id="urlmeteor" name="urlmeteor" placeholder="http://netrunner.meteor.com/users/xxxxxxxxxxxxxxxxx">
							</div>
							<div class="pull-right">
								<button type="submit" class="btn btn-success">Import</button>
								<button type="button" class="btn btn-default" onclick="$('#meteorModal').modal('hide')">Cancel</button>
							</div>
						</form>
					</div><!-- /#modal-info -->
				</div><!-- /.row -->
			</div><!-- /.modal-body -->
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal -->

<!-- Modal -->
<div class="modal fade" id="tagAddModal" tabindex="-1" role="dialog" aria-labelledby="tagAddModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 class="modal-title" id="tagAddModalLabel">Add one or more tags</h3>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<form>
						<div class="form-group">
							<label for="tag_add_tags">Please enter the list of tags, separated by spaces</label>
							<input class="form-control" type="text" name="tags" id="tag_add_tags" placeholder="a-tag another">
						</div>
						<div class="pull-right">
							<input type="hidden" name="ids" id="tag_add_ids">
							<button type="submit" class="btn btn-success" onclick="$('#tagAddModal').modal('hide');tag_add_process(event)">Add</button>
							<button type="button" class="btn btn-default" onclick="$('#tagAddModal').modal('hide')">Cancel</button>
						</div>
						</form>
					</div><!-- /#modal-info -->
				</div><!-- /.row -->
			</div><!-- /.modal-body -->
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal -->

<!-- Modal -->
<div class="modal fade" id="tagRemoveModal" tabindex="-1" role="dialog" aria-labelledby="tagRemoveModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 class="modal-title" id="tagRemoveModalLabel">Delete one or more tags</h3>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<form>
						<div class="form-group">
							<label for="tag_remove_tags">Please enter the list of tags you want to remove, separated by spaces</label>
							<input class="form-control" type="text" name="tags" id="tag_remove_tags" placeholder="a-tag another">
						</div>
						<div class="pull-right">
							<input type="hidden" name="ids" id="tag_remove_ids">
							<button type="submit" class="btn btn-success" onclick="$('#tagRemoveModal').modal('hide');tag_remove_process(event)">Remove</button>
							<button type="button" class="btn btn-default" onclick="$('#tagRemoveModal').modal('hide')">Cancel</button>
						</div>
						</form>
					</div><!-- /#modal-info -->
				</div><!-- /.row -->
			</div><!-- /.modal-body -->
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal -->

<!-- Modal -->
<div class="modal fade" id="tagClearModal" tabindex="-1" role="dialog" aria-labelledby="tagClearModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 class="modal-title" id="tagClearModalLabel">Clear all tags</h3>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<form>
						<div class="form-group">
							<label>Are you sure you want to clear all tags from the selected decks?</label>
						</div>
						<div class="pull-right">
							<input type="hidden" name="ids" id="tag_clear_ids">
							<button type="submit" class="btn btn-success" onclick="$('#tagClearModal').modal('hide');tag_clear_process(event)">Yes, clear</button>
							<button type="button" class="btn btn-default" onclick="$('#tagClearModal').modal('hide')">Cancel</button>
						</div>
						</form>
					</div><!-- /#modal-info -->
				</div><!-- /.row -->
			</div><!-- /.modal-body -->
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal -->

<!-- Modal -->
<div class="modal fade" id="diffModal" tabindex="-1" role="dialog" aria-labelledby="diffModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 class="modal-title" id="diffModalLabel">Decks comparison</h3>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12" id="diff_content">
					</div><!-- /#modal-info -->
				</div><!-- /.row -->
			</div><!-- /.modal-body -->
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal -->

<!-- Modal -->
<div class="modal fade" id="archiveModal" tabindex="-1" role="dialog" aria-labelledby="archiveModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 class="modal-title" id="archiveModalLabel">Upload deck archive</h3>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<form action="{{ path('decks_upload_all') }}" method="POST" enctype="multipart/form-data">
							<div class="form-group">
								<label for="uparchive">File</label>
								<input class="form-control" type="file" id="uparchive" name="uparchive">
							</div>
							<div class="pull-right">
								<button type="submit" class="btn btn-success">Upload</button>
								<button type="button" class="btn btn-default" onclick="$('#archiveModal').modal('hide')">Cancel</button>
							</div>
						</form>
					</div><!-- /#modal-info -->
				</div><!-- /.row -->
			</div><!-- /.modal-body -->
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal -->

{% endblock %}
