{% extends 'NetrunnerdbBuilderBundle::layout.html.twig' %}

{% block head %}
<script type="text/javascript">
delete NRDB.api_url;

$(function () {
	var date_string = "{{ event.datetimestart|date('c') }}";
	var timezone = "{{ event.timezone }}";

    var date = moment(date_string);
    $('#date-adjusted').html(date.format('LLLL Z'));
    var date2 = date.clone().tz(timezone);
	$('#date').html(date2.format('LLLL Z z'));

	if(date.format() === date2.format()) $('#your-timezone').hide();
	
	$('#registered-players li').each(function (index, element) {
		var datetime = moment($(element).data('datetime'));
		$(element).attr('title', "Registered "+datetime.format('LLLL'));
	});
	$('#registered-players a').each(function (index, element) {
		if($(element).data('user-id') === NRDB.user.data.id) {
			console.log('gotcha');
			$('#attendance_register').attr('action', Routing.generate('attendance_cancel', {event_id:{{ event.id }}}));
			$('#attendance_register button').removeClass('btn-primary').addClass('btn-danger').html("Cancel registration");
		}
	});

});

</script>

{% endblock %}

{% block body %}
<div class="container event">

<div class="row">
<div class="col-md-9">

<div>
<div class="btn-toolbar pull-right" role="group">
    <a href="{{ path('event_manage',{event_id:event.id}) }}" type="button" class="btn btn-default">Manage</a>
</div>
<h1>{{ event.name }}</h1>
</div>

<div class="well">{{ event.description|nl2br }}</div>

<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-3 control-label">Organizer</label>
        <div class="col-sm-9">
            <p class="form-control-static"><a href="{{ path('user_profile_view',{_locale:app.request.locale,user_id:event.user.id,user_name:event.user.username|e('url')}) }}">{{ event.user.username }}</a></p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Last pack allowed</label>
        <div class="col-sm-9">
            <p class="form-control-static">{% if event.lastPack is empty %}Any{% else %}<a href="{{ path('cards_list',{_locale:app.request.locale,pack_code:event.lastPack.code}) }}">{{ event.lastPack.name }}</a>{% endif %}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Tournament Tier</label>
        <div class="col-sm-9">
            <p class="form-control-static">{{ event.tier.name }}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Championship Play</label>
        <div class="col-sm-9">
            <p class="form-control-static">{% if event.championship > 0 %}{{ event.championship }} players{% else %}Only Swiss rounds{% endif %}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Location</label>
        <div class="col-sm-9">
            <p class="form-control-static">{{ event.location }} &mdash; <a href="http://maps.google.com/?q={{ event.latitude }},{{ event.longitude }}">{{ event.address }}</a></p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Start in local timezone</label>
        <div class="col-sm-9">
            <p class="form-control-static"><time id="date" datetime="{{ event.datetimestart|date('c') }}" data-timezone="{{ event.timezone }}">{{ event.datetimestart|date('c') }}</time></p>
        </div>
    </div>
    <div class="form-group" id="your-timezone">
        <label class="col-sm-3 control-label">Start in your timezone</label>
        <div class="col-sm-9">
            <p class="form-control-static"><time id="date-adjusted" datetime="{{ event.datetimestart|date('c') }}" data-timezone="{{ event.timezone }}">{{ event.datetimestart|date('c') }}</time></p>
        </div>
    </div>
    {% if not event.past %}
    {% include 'NetrunnerdbEventsBundle:Event:event_view_future.html.twig' %}
    {% endif %}
</div>

{% if event.past %}
{% include 'NetrunnerdbEventsBundle:Event:event_view_past.html.twig' %}

If you played in this event and your account is not linked to the results yet:
<ul>
<li>If your name appears in the list, click here to link it to your account</li>
<li>If your name does not appear in the list, click here to add it</li>
</ul>
{% endif %}

</div>
<div class="col-md-3">
<h3>Around that time</h3>
<div style="margin-bottom:15px">
{% if events|length > 0 %}
<ul>
{% for event in events %}
<li><a href="{{ path('event_view',{event_id:event.id,event_name:event.prettyname|url_encode,_locale:app.request.locale}) }}">{{ event.name }}</a><div>{{ event.locality }}{% if event.area is not empty %}, {{ event.area }}{% endif %} ({{ event.countryCode }})</div></li>
{% endfor %}
</ul>
{% else %}
No other event yet.
{% endif %}
</div>

<div class="ad">
<!-- Adaptable -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2254488884647695"
     data-ad-slot="3777512162"
     data-ad-format="auto"></ins>
</div>

</div>

</div>

{% endblock %}

{% block footer %}
<script src="https://maps.googleapis.com/maps/api/js"></script>
{% endblock %}