{% extends 'NetrunnerdbBuilderBundle::layout.html.twig' %}

{% block head %}
<script type="text/javascript">
delete NRDB.api_url;
var locations = {{ locations|json_encode()|raw }};

$(function () {
    $('time').each(function (index, element) {
    	var datetime = moment($(element).attr('datetime')).tz($(element).data('timezone'));
    	$(element).html(datetime.format('LLLL')).attr('title', datetime.format('LLLL Z z'));
    });

    setTimeout(load_map, 1000);

});
function load_map() {
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 1,
        center: new google.maps.LatLng(-33.92, 151.25)
      });

      var infowindow = new google.maps.InfoWindow();
      var bounds = new google.maps.LatLngBounds();
      
      var marker, i;

      for (i = 0; i < locations.length; i++) {
        marker = new google.maps.Marker({
          position: new google.maps.LatLng(locations[i][1], locations[i][2]),
          map: map
        });
        bounds.extend(marker.position);
        
        google.maps.event.addListener(marker, 'click', (function(marker, i) {
          return function() {
            infowindow.setContent(locations[i][0]);
            infowindow.open(map, marker);
          }
        })(marker, i));
      }

      map.fitBounds(bounds);
}

</script>
{% endblock %}

{% block body %}
<div class="container event">

<div>
<div class="btn-toolbar pull-right hidden-xs" role="group">
    <a href="{{ path('event_create') }}" type="button" class="btn btn-default">Create a new event</a>
    <a href="{{ path('events_past') }}" type="button" class="btn btn-default">See past events</a>
</div>
<h1>Incoming Events</h1>
</div>
<div class="visible-xs-block row" style="margin-bottom:15px">
    <div class="col-xs-6">
        <a href="{{ path('event_create') }}" type="button" class="btn btn-default btn-block">Create a new event</a>
    </div>
    <div class="col-xs-6">
        <a href="{{ path('events_past') }}" type="button" class="btn btn-default btn-block">See past events</a>
    </div>
</div>

<table class="rwd-table table">
<thead>
<tr>
<th>Name</th>
<th>Locality</th>
<th>Country</th>
<th># Players</th>
<th>Date</th>
</tr>
</thead>
<tbody>
{% if events is not empty %}
{% for i in 0..events|length-1 %}
<tr class="{% if i%2==0 %}even{% else %}odd{% endif %}">
    {% set event = events[i] %}
    <td data-th="Name"><a href="{{ path('event_view',{event_id:event.id,event_name:event.prettyname|url_encode,_locale:app.request.locale}) }}">{{ event.name }}</a></td>
    <td data-th="Locality">{{ event.locality }}{% if event.area is not empty %}, {{ event.area }}{% endif %}</td>
    <td data-th="Country">{{ event.country }} ({{ event.countryCode }})</td>
    <td data-th="# Players">{{ event.nbplayers }}</td>
    <td data-th="Date"><time datetime="{{ event.datetimestart|date('c') }}" data-timezone="{{ event.timezone }}">{{ event.datetimestart|date('c') }}</time></td>
</tr>
{% endfor %}
{% endif %}
</tbody>
</table>

<div id="map" style="height: 500px;"></div>

</div>
{% endblock %}

{% block footer %}
<script src="https://maps.googleapis.com/maps/api/js"></script>
{% endblock %}